section#boats-container.boats-container
	h2 Bateaux
	div.boat-wrapper
		p.boat-name Torpilleur
		p 2 cases
		img.boat-selector#tp(src='../images/torpedo.png', alt='Torpedo', data-boat-size='2', data-placed='false')
	div.boat-wrapper
		p.boat-name Sous-marin
		p 3 cases
		img.boat-selector#sm(src='../images/submarine.png', alt='Submarine', data-boat-size='3', data-placed='false')
	div.boat-wrapper
		p.boat-name Contre-torpilleurs
		p 3 cases
		img.boat-selector#dt(src='../images/destroyer.png', alt='Destroyer', data-boat-size='3', data-placed='false')
	div.boat-wrapper
		p.boat-name Croiseur
		p 4 cases
		img.boat-selector#cr(src='../images/cruiser.png', alt='Cruiser', data-boat-size='4', data-placed='false')
	div.boat-wrapper
		p.boat-name Porte-avions
		p 5 cases
		img.boat-selector#ca(src='../images/carrier.png', alt='Carrier', data-boat-size='5', data-placed='false')
	button#random Random