section.chat
	div.chat-header
		ul
			li#all-messages Tout
			li#game-messages Jeu
			li#players-messages Joueurs
	div.messages

	form
		input#player-message(type="text", name="message", placeholder="Votre message")
		button#send-message(type="submit") Envoyer