button#chat-toggle.toggle.chat-toggle
	span.open.fa.fa-comments.fa-2x(aria-hidden="true")
	span.close.fa.fa-times.fa-2x(aria-hidden="true")
section.chat
	div.chat-header
		ul
			li#all-messages.filters.active(data-active='true') Tout
			li#game-messages.filters(data-active='false') Jeu
			li#players-messages.filters(data-active='false') Joueurs
				span#new-messages-count(data-count="0")
		div#messages.messages
		input#player-message(type="text", name="message", placeholder="Votre message")
		button#send-message(type="button") Envoyer

script.
	var chat = document.getElementById('chat');
	var chatToggle = document.getElementById('chat-toggle');
	var openedClass = 'opened';

	chatToggle.addEventListener('click', function(e) {
		if (chatToggle.hasClass(openedClass)) {
			chatToggle.removeClass(openedClass);
			chat.removeClass(openedClass);
		} else {
			chatToggle.addClass(openedClass);
			chat.addClass(openedClass);
		}
	});