section.chat
	div.chat-header
		ul
			li#all-messages.filters.active(data-active='true') Tout
			li#game-messages.filters(data-active='false') Jeu
			li#players-messages.filters(data-active='false') Joueurs
	div#messages.messages
	div.send-container
		input#player-message(type="text", name="message", placeholder="Votre message")
		button#send-message(type="button") Envoyer