doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block title
			title Sea Battle
		link(rel="stylesheet", href="/stylesheets/style.css")
		block styles
	body
		block content
		