section#rankings-overlay.rankings-overlay
    span#close-rankings.close-rankings.fa.fa-times.fa-2x(aria-hidden="true")
    h2 Classements
    ul.rankings-tabs
        li#general-ranking-tab Général
        li#month-ranking-tab Flottant
    include ranking.jade

section#stats-overlay.stats-overlay
    span#close-stats.close-stats.fa.fa-times.fa-2x(aria-hidden="true")
    h2 Statistiques
    include stats.jade