section.player-info
	p.socials
		a(href="/" title="Partager sur Facebook")
			span.fa.fa-facebook-official(aria-hidden="true")
		a(href="/" title="Partager sur Twitter")
			span.fa.fa-twitter(aria-hidden="true")
	p.player
		span.player-username BigBoss (Champe)
		span.player-points Grade - 9999pts
	p.options
		a#profil-link(href="/profile" title="Modifier vos informations")
			span.fa.fa-cog(aria-hidden="true")
		a#rankings-link(href="" title="Afficher les classements")
			span.fa.fa-trophy(aria-hidden="true")
		a#stats-link(href="" title="Afficher vos statistiques")
			span.fa.fa-line-chart(aria-hidden="true")