button#toggle-info.toggle-info

aside#info.info
	include player-info.jade

	section.game-ranking
		h2 Nom Room
		ul
			li
				p Pseudo
				p 6pts
			li
				p Pseudo
				p 6pts
			li
				p Pseudo
				p 6pts
			li
				p Pseudo
				p 6pts
			li
				p Pseudo
				p 6pts
			li
				p Pseudo
				p 6pts

	section.chat