extends inc/head.jade

block title
	title Erreur 404

block styles
	link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")

block content
	include inc/sidebar.jade

	//- section.content.game
	//- 	section.players-grids
	//- 	button#expand-grids.expand-grids
	//- 	section.grids-wrapper
	//- 		section.visual-grid
	//- 		section.shots-grid