extends inc/head.jade

block title
    title Erreur 404

block content
    div.wrapper
        include inc/header.jade

        section.content.home
            p La page à laquelle vous essayez d'accédez est introuvable.

            div.push

    include inc/footer.jade

    script(src='/javascripts/pages/index.js')