extends inc/head.jade

block title
	title Erreur 404

block content
	section#sidebar.sidebar
		section.player-info
		section.game-ranking
		section.chat
	button#expand-sidebar.expand-sidebar


	section.content.game
		section.players-grids
		button#expand-grids.expand-grids
		section.grids-wrapper
			section.visual-grid
			section.shots-grid