section.content.game
    aside#switching-aside.switching-aside
        include inc/boats.jade
        include inc/players-grid.jade

    section#canvas-wrapper.grids-wrapper
        canvas#canvas

        i#timer