section.content.game
	section#social-modal.modal.social-modal
		span#close-social.closer.close-social.fa.fa-times.fa-2x(aria-hidden="true")
		div.modal-content
			h2 Vous avez pris du galon !
			p Partagez votre nouvelle promotion sur les réseaux
			p.socials
				a(href='http://www.facebook.com/share.php?u=http://seabattle.io' title='Partager sur Facebook' target='_blank')
					span.fa.fa-facebook-official(aria-hidden='true')
				a(href='https://twitter.com/intent/tweet?text=Sur Sea Battle, je suis #{user.username}, un #{user.rank} avec #{user.pointsCount} points, venez m\'affronter !&amp;url=seabattle.io', title='Partager sur Twitter', target='_blank')
					span.fa.fa-twitter(aria-hidden='true')
	section#replay-modal.modal.replay-modal
		span#close-replay.closer.close-replay.fa.fa-times.fa-2x(aria-hidden="true")
		div.modal-content
			p#winner
			h2 Voulez-vous rejouer ?
			button#button-replay.button-effect Rejouer
			button#button-quit.button-effect Quitter
	aside.game-info
		button#aside-toggle.toggle.aside-toggle
			span.open.fa.fa-th.fa-2x(aria-hidden="true")
		button#ranking-toggle.toggle.ranking-toggle
			span.open.fa.fa-list-ol.fa-2x(aria-hidden="true")
		button#chat-toggle.toggle.chat-toggle
			span.open.fa.fa-comments.fa-2x(aria-hidden="true")
			span#new-messages-count.new-messages-count(data-count="0")
		include inc/player-info.jade
		section#game-ranking.game-ranking
			button#close-ranking.close-ranking
				span.close.fa.fa-times.fa-2x(aria-hidden="true")
			h2 Classement
			ul#rank-list
		include inc/chat.jade
	aside#switching-aside.switching-aside
		button#close-aside.close-aside
			span.close.fa.fa-times.fa-2x(aria-hidden="true")
		include inc/boats.jade
		section#other-players-canvas.players-grids.hidden
			h2 Miniatures

	section#canvas-wrapper.grids-wrapper
		div.main-canvas-wrapper
			section.timer
				h1#phase-title.phase-title Placement des bateaux
				span#helper.helper(class="fa fa-info" aria-hidden="true")
				section#helper-modal.modal.helper-modal
					div.link-wrapper
						a.tutorial-link.link-effect(href='/tutorial' title='Vers l\'aide de jeu' target='_blank') Guide complet
					h2 Première étape : Le placement des bateaux
					img(src='' alt='Le placement et la rotation d\'un bateau')
					img(src='' alt='Le bouton Aléatoire et son effet')
					h2 Seconde étape : Les phases de tir
					img(src='' alt='La croix signifiant un coup réussi')
					img(src='' alt='Le carré noir signifiant un coup manqué')
					img(src='' alt='La grille de tir')
					img(src='' alt='La grille de visualisation')
				p#timer-message.timer-message Reste : 
					i#timer
			section#fire-canvas.fire-canvas.hidden
				h2 Grille de tir
				div#fire-canvas-wrapper.fire-canvas-wrapper
			section#visual-canvas.visual-canvas
				h2 Grille de visualisation
				div.player-canvas-wrapper
					canvas#player-canvas.player-canvas
				section.turn-info
					