section.content.game
    aside#switching-aside.switching-aside
        include inc/boats.jade

    section#canvas-wrapper.grids-wrapper
        canvas#canvas(width='500', height='500')

        i#timer