extends inc/head.jade

block content
    div.wrapper
        include inc/header.jade

        section.content.home
            p.catch-phrase Jeu 100% gratuit, revivez les sensations épiques de la bataille navale !

            section.promotion
                div
                    img(src='images/test1.jpg')
                    p GIF animé montrant l'écran de jeu
                div
                    img(src='images/test2.jpg')
                    p GIF animé montrant les classements et statistiques

            if username
                h3 Bonjour #{username}
                a.link-effect(href='/rooms', title='Vers les salles de jeu') Jouer !
            else
                h2 Jouer
                form#signin
                    p#signin-message.form-main-message
                    input#email(type='text', name='email', placeholder='Adresse e-mail', value='john.doe@mail.com' autofocus)
                    input#password(type='password', name='password', placeholder='Mot de passe', value='johndoe')
                    button#signin-submit.button-effect(type='submit') Connexion

                a.link-effect(href='/signup', title='Vers la page de création de compte') Pas de compte ?

            div.push

    include inc/footer.jade

    script(src='/javascripts/pages/index.js')