extends inc/head.jade

block title
	title Manage your account
block styles
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

block content
	include inc/overlays.jade

	div.wrapper
		include inc/header.jade

		section.content.manage-account
			include inc/player-info.jade
			
			h1 Gérez votre compte

			h2 Modifiez votre email
			form#email-modification
				input#email(type='text', name="email", placeholder='Email')
				p#email-message
				button#email-submit.button-effect(type='submit') Modifier

			h2 Modifiez votre pseudonyme
			form#username-modification
				input#username(type='text', name="username", placeholder='Pseudonyme')
				p#username-message
				button#username-submit.button-effect(type='submit') Modifier

			h2 Modifiez votre mot de passe
			form#password-modification
				input#current-password(type='password', name="current_password", placeholder='Mot de passe actuel')
				p#current-password-message
				input#new-password(type='password', name="new_password", placeholder='Nouveau mot de passe')
				p#new-password-message
				input#new-password-confirmation(type='password', name="new_password_confirmation", placeholder='Confirmez le nouveau mot de passe')
				p#new-password-confirmation-message
				button#password-submit.button-effect(type='submit') Modifier

			h2 Supprimez votre compte
			button#delete-account.delete-account.button-effect Supprimer

		div.push

	include inc/footer.jade

	script(src='/javascripts/prototype.js')
	script(src='/javascripts/initiating.js')
	script.
		initPlayerInfo();