extends inc/head.jade

block title
    title Choose your battlefield
block styles
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

block content

    include inc/overlays.jade

    section#switching-content.switching-content
        div.wrapper
            include inc/header.jade

            section.content
                include inc/player-info.jade

                h1 Salles de jeu

                h2 Créez votre propre salle
                div.create-room-container
                    input#room-name-input(type='text', placeholder='Nom de la salle') 
                    button#create-room.button-effect Créer une salle
            
                h2 Rejoignez une salle

                p.rooms-count x salles disponibles (Sinon "Pas de salle disponible")
                ul#rooms.rooms-list

                div.push

        include inc/footer.jade

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/prototype.js')
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/navigation.js')
    script(src='/javascripts/pages/rooms.js')
    script(src='/javascripts/initiating.js')
    script.
        initPlayerInfo();