extends inc/head.jade

block title
    title Create your account

block content
    div.wrapper
        include inc/header.jade

        section.content.signup
            h1 Créez votre compte

            p.catch-phrase Créer un compte vous permet
            ul
                li De faire partie des classements,
                li De consulter vos statistiques de jeu,
                li Et surtout de jouer !

            form#signup(method='post', action='/signup')
                p#signup-message.form-main-message
                input#email(type='text', name='email', placeholder='Adresse e-mail')
                p#email-message.form-message
                input#username(type='text', name='username', placeholder='Pseudonyme')
                p#username-message.form-message
                input#password(type='password', name='password', placeholder='Mot de passe')
                input#password-confirmation(type='password', name='passwordConfirmation', placeholder='Confirmez le mot de passe')
                p#password-message.form-message
                button#signup-submit.button-effect(type='submit') Créer

            div.push

    include inc/footer.jade

    script.
        var emailIsValid = false,
            usernameIsValid = false,
            passwordIsValid = false,
            formIsValid = new Worker('/javascripts/pages/worker.js');
            
        var signupSubmit = document.getElementById('signup-submit');

        formIsValid.addEventListener('message', function (e) {
            console.log(e.data);
            if (e.data) {
                signupSubmit.classList.add('form-validated');
            } else {
                signupSubmit.classList.remove('form-validated');
            }
        }, false);
    script(src='/javascripts/pages/common.js')
    script(src='/javascripts/pages/signup.js')
