extends inc/head.jade

block title
    title Create your account

block content
    div.wrapper
        include inc/header.jade

        section.content.signup
            h1 Créez votre compte

            p.catch-phrase Créer un compte vous permet
            ul
                li De faire partie des classements,
                li De consulter vos statistiques de jeu,
                li Et surtout de jouer sans limites !

            form#signup
                p#signup-message
                input#email(type='email', name='email' value='john.doe@mail.com', placeholder='Adresse e-mail')
                p#email-message
                input#username(type='text', name='username' value='johndoe', placeholder='Pseudonyme')
                p#username-message
                input#password(type='password', name='password' value='johndoe', placeholder='Mot de passe')
                input#password-confirmation(type='password', name='password_confirmation' value="johndoe", placeholder='Confirmez le mot de passe')
                p#password-message
                button#signup-submit.button-effect(type='submit') Créer

            div.push

    include inc/footer.jade

    script(src='/javascripts/pages/signup.js')
