extends inc/head.jade

block title
	title test
block content
	h1 Test page
	div(width="200", height="200")
		canvas#canvas-test
	
	script(src='/javascripts/grid.js')
	script(src='/javascripts/prototype.js')
	script(src='/javascripts/test.js')
