extends inc/head.jade

block title
	title test
block content
	h1 Test page
	div#test-canvas-container
		canvas#canvas-test
	
	script(src='/javascripts/grid.js')
	script(src='/javascripts/boat.js')
	script(src='/javascripts/prototype.js')
	script(src='/javascripts/test.js')
