
div.wrapper
	include inc/header.jade

	section.content.wait
		include inc/chat.jade
		div.wait-wrapper
			button#chat-toggle.toggle.chat-toggle
				span.open.fa.fa-comments.fa-2x(aria-hidden="true")
				span.close.fa.fa-times.fa-2x(aria-hidden="true")
				span#new-messages-count.new-messages-count(data-count="0")
			include inc/player-info.jade
			h1#room-name
			p#room-player-count.players-total
			ul#players-list.players-list
				li
					div
						p#room-player-username.player-username
						p.player-ranking 
							img#room-player-grade-img(src='', alt='Grade')
							span#room-player-grade
							span#room-player-points
					button#set-ready.button-effect Prêt
						i#ready-status.ready-status

		div.push

include inc/footer.jade