include inc/header.jade

include inc/chat.jade
section.content.wait
	include inc/player-info.jade
	h1 Nom de la salle
	p.players-total x joueur(s)
	ul#players-list.players-list
		li
			div
				p.player-username Pseudo
				p.player-ranking Image Grade X pts
			button#set-ready.button-effect Prêt
				i#ready-status