/*
	CHARTE
	#513b56
	#525174
	#348aa7
	#5dd39e
	#bce784
 */

/* Fonts
========================================================================== */

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype');
}

/* All
========================================================================== */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'latoregular';
    background-color: #f3f3f3;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 0;
}

h2 {
	font-size: 1.1em;
}

p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

button {
	background-color: #fff;
	border: 2px solid;
	padding: .7em 1.3em;
}

/* Forms */

input {
	display: block;
	margin: auto;
	margin-bottom: 1.5em;
	border: 1px solid #e1e1e1;
	width: 35em;
	height: 3em;
	transition: border-color 1s;
	outline: none;
}

input:hover {
	border-color: #525174;
	transition: border-color .5s;
}

input:focus {
	border-color: #525174;
}

button {
	margin: auto;
	margin-bottom: 1em;
}

/* Links effect */

a {
	text-decoration: none;
	color: #525174;
}

.link-effect {
	display: inline-block;
	position: relative;
	font-weight: 700;
}

.link-effect::before,
.link-effect::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #525174;
	content: '';
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
}

.link-effect::after {
	opacity: 0;
	transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.link-effect:hover::before,
.link-effect:hover::after,
.link-effect:focus::before,
.link-effect:focus::after {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.link-effect:hover::after,
.link-effect:focus::after {
	top: 0%;
	opacity: 1;
}

/* Button effect */

.button-effect {
	display: block;
	position: relative;
	z-index: 1;
	transition: border-color 0.4s, color 0.4s;
	border-color: #525174;
	color: #525174;
	font-weight: 700;
}

.button-effect::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #348aa7;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-effect,
.button-effect::before {
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-effect:hover {
	color: #fff;
	border-color: #37474f;
}

.button-effect:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Content
========================================================================== */

.wrapper {
	min-height: 100%;
	margin: 0 auto -2em;
}

	.content {
		padding: 1.5em;
		position: relative;
		max-width: 75em; /* 1200px */
		margin: auto;
		text-align: center;
	}

		.push {
			height: 2em;
		}

.info,
.content.wait,
.content.game {
    display: inline-block;
    vertical-align: top;
	height: 100%;
}

.switching-content {
    width: 100%;
}

.switching-aside {
	width: 20%;
	background-color: orange;
	max-width: 300px;
	padding: .5em;
}

.toggle-aside {
	display: none;
	position: absolute;
	top: 8%;
	right: 2%;
	z-index: 10;
}

/* Header
========================================================================== */

header {
	text-align: center;
	background-image: linear-gradient(0deg, #5dd39e, #bce784);
}

	header img {
		padding: 2em;
		max-width: 275px;
	}

/* Home
========================================================================== */

.catch-phrase {
	font-weight: 700;
	margin-bottom: 1.5em;
}

.promotion {
	display: table;
	width: 100%;
	text-align: center;
	margin-bottom: 1.5em;
}

	.promotion div {
		display: table-cell;
		max-width: 200px;
		margin: auto;
	}

	.promotion img {
		max-width: 200px;
	}

/* Signup
========================================================================== */

.signup ul {
	display: inline-block;
	margin-bottom: 1.5em;
}

	.signup li {
		font-size: 1.2em;
		padding: .2em;
	}

/* Manage account
========================================================================== */

.manage-account form {
	margin-bottom: 1.5em;
}

.delete-account {
	margin: auto;
}

/* Chat
========================================================================== */

.chat {
	max-width: 350px;
	background-color: purple;
}

	.chat li {
		display: inline-block;
		width: 33.3%;
		text-align: center;
		background-color: orange;
	}

	.chat li:hover {
		background-color: yellow;
	}

	.chat .messages {
		min-height: 150px;
	}

	.chat input,
	.chat button {
		display: inline-block;
	}
	.chat input {
		width: 80%;
	}

	.chat button {
		width: 20%;
	}

/* Rooms
========================================================================== */

.rooms {
	text-align: center;
}

.rooms .player-info {
	height: auto;
	display: block;
	text-align: center;
	margin-bottom: 3em;
}

	.rooms .socials,
	.rooms .options {
		width: 300px;
	}

	.rooms .player {
		margin: 0;
		width: auto;
	}

		.rooms .player-info p {
			display: inline-block;
			vertical-align: middle;
		}

			.rooms .player-info a {
				display: inline-block;
				margin: 0 .5em;
			}

.rooms input,
.rooms button {
	display: inline-block;
}

.rooms button {
	margin-left: .3em; 
}

.rooms-count {
	margin-bottom: 1em;
}

.rooms-list button {
	padding: 1.4em 1.3em;
}

.rooms-list div {
	display: inline-block;
	vertical-align: top;
}

.room-info {
	width: 80%;
	background-color: #fff;
}

	.room-info p {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		padding: 0 2em;
	}

	.room-name {
		text-align: left;
		font-size: 2.5em;
	}

	.players-count {
		text-align: right;
		font-size: 1.5em;
		line-height: 2.5em;
	}

/* Wait
========================================================================== */



/* Game
========================================================================== */

.content.game {
	width: 100%;
	height: 100%;
	background-color: red;
	padding: 0;
}

.boat-selector {
    display: block;
}

.boat-selected {
    background-color: #666;
}


.placed {
    
}

/* Info Sidebar
========================================================================== */

.toggle-info {
	display: none;
	position: absolute;
	top: 2%;
	right: 2%;
	z-index: 10;
}

.info {
	position: relative;
	width: 25%;
	background-color: blue;
	max-width: 350px;
	text-align: center;
}

	.info section {
		padding: 1em .5em;
		overflow: hidden;
	}

/* Player */

.player-info {
	height: 26%;
	/* background-color: green; */
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

	.player-info a {
		font-size: 2em;
	}

	.socials,
	.options {
		display: table;
		width: 100%;
	}

		.socials a,
		.options a {
			display: table-cell;
		}

	.player {
		margin: .5em 0;
		word-wrap: break-word;	
	}

		.player span {
			display: block;
		}

		.player-username {
			font-size: 1.5em;
		}

		.player-points {
			font-size: 1.2em;
			font-style: italic;
		}

/* Ranking */

.game-ranking {
	background-color: yellow;
	word-wrap: break-word;
	height: 40%;
}

	.game-ranking ul {
		min-height: 85%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}

		.game-ranking p {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			font-size: 1.5em;
		}

/* Main grids
========================================================================== */

.grids-wrapper {
	width: 80%;
	background-color: pink;
}

.switching-aside,
.players-grids,
.grids-wrapper {
	display: inline-block;
	vertical-align: top;
	height: inherit;
}

/* Players grids sidebar
========================================================================== */

.players-grids div {
	border: 1px solid;
	margin-bottom: .5em;
}

.players-grids div:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Overlays
========================================================================== */

.rankings-overlay h2,
.stats-overlay h2 {
	margin: 0;
	padding: 1em 0;
	color: #fff;
	font-size: 1.4em;
	background-image: linear-gradient(0deg, #5dd39e, #bce784);
}

/* Rankings overlay
========================================================================== */

.close-rankings {
	position: absolute;
	top: 2%;
	right: 2%;
}

.rankings-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 20;
	text-align: center;
}

	.rankings-tabs li {
		display: inline-block;
		width: 50%;
		background-color: #525174;
		font-size: 1.5em;
		height: 2em;
		line-height: 2em;
		color: #fff;
		transition: background-color .5s;
	}

	.rankings-tabs li:hover {
		background-color: #513b56;
		transition: background-color .5s;
	}

	.ranking table {
		width: 100%;
		font-size: 1.2em;
	}

		.ranking tr:nth-child(odd) {
			background-color: lightgrey;
		}

		.ranking td {
			word-wrap: break-word;
		}

/* Stats overlay
========================================================================== */

.close-rankings {
	position: absolute;
	top: 2%;
	right: 2%;
}

.stats-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 20;
	text-align: center;
}

	.stats-tabs li {
		display: inline-block;
		width: 33.3%;
		background: #bce784;
		font-size: 1.5em;
		height: 2em;
		line-height: 2em;
	}
	
	.stats-tabs li:hover {
		background-color: #5dd39e;
	}

/* Footer
========================================================================== */

footer {
	background-color: #e1e1e1;
	text-align: center;
	line-height: 2em;
}

	footer p {
		display: inline-block;
		margin: 0 1em;
	}

/* Responsive
========================================================================== */

@media screen and (min-width: 87.5em),
screen and (max-height: 47.95em) { /* > 1400px OR < 768px height */
	.content.game {
		width: 100%;
		max-width: 100%;
		position: absolute;
		text-align: left;
	}
}

@media screen and (max-width: 59.95em), 
screen and (max-height: 47.95em) { /* < 960px width OR < 768px height */
	.toggle-info {
		display: inline;
	}

	.info {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		max-width: 100%;
		-webkit-transform: translate3d(-100%, 0, 0);
		        transform: translate3d(-100%, 0, 0);
		transition: -webkit-transform .5s;
		transition: transform .5s;
		transition: transform .5s, -webkit-transform .5s;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
	}

		.socials,
		.options,
		.game-ranking ul {
			max-width: 350px;
			margin: auto;
		}
}

@media screen and (max-height: 47.95em) { /* < 768px height */
	.info {
		height: auto;
	}
}

@media screen and (max-width: 59.95em) { /* < 960px */
	.switching-content,
	.content.game {
		width: 100%;
	}

		.players-grids,
		.switching-aside {
			width: 20%;
		}

		.grids-wrapper {
			width: 80%;
		}
}

@media screen and (max-width: 50em) { /* < 800px */
	.rooms .player-info p {
		display: block;
	}

		.rooms .player-info a {
			margin: .5em;
		}
}

@media screen and (max-width: 40.625em),
screen and (max-height: 47.95em) { /* < 650px width OR < 768px height */
	.toggle-grids {
		display: inline;
	}

	.players-grids,
	.switching-aside {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		max-width: 100%;
		-webkit-transform: translate3d(-100%, 0, 0);
		        transform: translate3d(-100%, 0, 0);
		transition: -webkit-transform .5s;
		transition: transform .5s;
		transition: transform .5s, -webkit-transform .5s;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
	}

		.players-grids div {
			display: inline-block;
			width: 200px;
			margin: 1em;			
		}

	.grids-wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 32.5em) { /* < 520px */
	.promotion div {
		display: block;
		margin-bottom: 1.5em;
	}

	input {
		width: 100%;
	}

	.room-info p {
	    display: block;
	    width: 100%;
	    padding: 0 .5em;
	    text-align: center;
   }
}

.expanded {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.opened {
	display: block;
}