/*
	CHARTE
	#513b56
	#525174
	#348aa7
	#5dd39e
	#bce784
 */

/* Fonts
========================================================================== */

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype');
}

/* All
========================================================================== */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'latoregular';
    background-color: #f3f3f3;
}

body.overlayed {
	overflow: hidden;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 0;
	text-align: center;
}

h2 {
	font-size: 1.1em;
}

p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

button {
	background-color: #fff;
	border: 2px solid;
	padding: .7em 1.3em;
}

.toggle {
	border: none;
	padding: 0;
	background-color: transparent;
}

.signout {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 5px 5px 0 5px;
	background-color: transparent;
	border: 1px solid;
}

.signout:hover {
	background-color: #ff7474;
}

	.signout img {
		width: 20px;
	}

/* Forms */

input {
	display: block;
	margin: auto;
	margin-bottom: 1.5em;
	border: 1px solid #e1e1e1;
	width: 35em;
	height: 3em;
	transition: border-color 1s;
	outline: none;
}

input:hover {
	border-color: #525174;
	transition: border-color .5s;
}

input:focus {
	border-color: #525174;
}

button {
	margin: auto;
	margin-bottom: 1em;
}

/* button[type=submit] {
	display: none;
}

button[type=submit].form-validated {
	display: inline;
} */

.form-main-message {
	font-size: 1.5em;
	color: #513b56;
	margin: 1em;
}

.form-message {
	color: #525174;
	font-size: 1.1em;
	margin: 1em;
}

/* Links effect */

a {
	text-decoration: none;
	color: #525174;
}

.link-effect {
	display: inline-block;
	position: relative;
	font-weight: 700;
}

.link-effect::before,
.link-effect::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #525174;
	content: '';
	transition: transform 0.3s;
	transform: scale(0.85);
}

.link-effect::after {
	opacity: 0;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.link-effect:hover::before,
.link-effect:hover::after,
.link-effect:focus::before,
.link-effect:focus::after {
	transform: scale(1);
}

.link-effect:hover::after,
.link-effect:focus::after {
	top: 0%;
	opacity: 1;
}

/* Button effect */

.button-effect {
	display: block;
	position: relative;
	z-index: 1;
	transition: border-color 0.4s, color 0.4s;
	border-color: #525174;
	color: #525174;
	font-weight: 700;
}

.button-effect::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #348aa7;
	z-index: -1;
	opacity: 0;
	transform: scale3d(0.7, 1, 1);
	transition: transform 0.4s, opacity 0.4s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-effect,
.button-effect::before {
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-effect:hover {
	color: #fff;
	border-color: #37474f;
}

.button-effect:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/* Content
========================================================================== */

.wrapper {
	min-height: 100%;
	margin: 0 auto -2em;
}

	.content {
		padding: 1.5em;
		position: relative;
		max-width: 75em; /* 1200px */
		margin: auto;
		text-align: center;
	}

		.push {
			height: 2em;
		}

.content.game {
    display: inline-block;
    vertical-align: top;
	height: 100%;
}

.chat,
.wait-wrapper {
	display: inline-block;
    vertical-align: top;
}

.switching-content {
    width: 100%;
    height: 100%;
}

.switching-aside {
	width: 20%;
	background-color: #bce784;
	max-width: 300px;
	position: relative;
	z-index: 10;
}

.toggle-aside,
.close-aside {
	display: none;
	position: absolute;
	top: 8%;
	right: 2%;
	z-index: 10;
}

.close-aside {
	top: 2%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

/* Header
========================================================================== */

header {
	text-align: center;
	background-image: linear-gradient(0deg, #5dd39e, #bce784);
}

	header img {
		padding: 2em;
		max-width: 275px;
	}

/* Home
========================================================================== */

.catch-phrase {
	font-weight: 700;
	margin-bottom: 1.5em;
}

.promotion {
	display: table;
	width: 100%;
	text-align: center;
	margin-bottom: 1.5em;
}

	.promotion div {
		display: table-cell;
		max-width: 200px;
		margin: auto;
	}

	.promotion img {
		max-width: 200px;
	}

/* Signup
========================================================================== */

.signup ul {
	display: inline-block;
	margin-bottom: 1.5em;
}

	.signup li {
		font-size: 1.2em;
		padding: .2em;
	}

/* Manage account
========================================================================== */

.manage-account form {
	margin-bottom: 1.5em;
}

.delete-account {
	margin: auto;
}

/* Chat
========================================================================== */

.chat,
.send-container {
	background-color: #E1E1E1;
}

	.chat-toggle {
		display: none;
		z-index: 10;
	}

	.chat li {
		display: inline-block;
		width: 33.3%;
		text-align: center;
		font-size: 1.3em;
		background-color: #5DD39E;
		height: 3.125em;
		line-height: 3.125em;
		color: #F3F3F3;
	}

	.chat li:hover,
	.chat li.active {
		background-color: #348AA7;
	}

	.chat input {
		width: 90%;
		margin-bottom: .5em;
	}

	.messages {
		overflow-y: scroll;
		max-height: 300px;
	}

	.new-messages-count {
		margin-left: .2em;
	}

	.new-messages {
		animation: blink 7s infinite;
	}

	@keyframes blink {
		50% {
			background-color: #2392b8;
		}

		100% {
			background-color: #5DD39E;
		}
	}

	.close-chat {
		display: none;
		position: absolute;
		top: 5.2em;
		right: 2%;
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;
	}

	.message-wrapper {
		margin-bottom: .5em;
	}

	.message-wrapper:nth-child(even) {
		background: lightgrey;
	}

		.message-wrapper p {
			display: inline-block;
			vertical-align: middle;
			word-wrap: break-word;
		}

		.message-time {
			width: 15%;
		}

		.message-from {
			width: 25%;
		}

		.message-content {
			width: 50%;
		}

/* Rooms & wait pages
========================================================================== */

.rooms,
.wait {
	text-align: center;
}

/* .rooms .player-info,
.wait .player-info, */
.player-info {
	height: auto;
	display: block;
	text-align: center;
	margin-bottom: 3em;
}

	.socials,
	.options {
		width: 250px;
	}

	.player {
		margin: 0;
		width: auto;
	}

		.player-info p {
			display: inline-block;
			vertical-align: middle;
		}

			.player-info a {
				display: inline-block;
				margin: 0 .5em;
			}

	.players-list button {
		margin-left: .3em;
		display: inline-block;
	}

	.rooms-list div,
	.players-list div {
		display: inline-block;
		vertical-align: middle;
	}

	.room-info,
	.players-list div {
		background-color: #fff;
		width: 80%;
	}

		.room-info p,
		.players-list p {
			display: inline-block;
			width: 50%;
			vertical-align: middle;
			padding: 0 .5em;
		}

		.room-name,
		.players-list .player-username {
			text-align: left;
			word-wrap: break-word;
		}

/* Rooms page
========================================================================== */

.create-room-container input,
.create-room-container button {
	display: inline-block;
}

.create-room-container input.empty:focus {
	animation: anim-empty 0.3s forwards;
}

@keyframes anim-empty {
	0% {
		box-shadow: 0 0 0 0;
		transform: rotate(-1deg);
	}

	50% {
		box-shadow: 0 0 5px 2.5px #eca29b;
		transform: rotate(1deg);
	}

	100% {
		box-shadow: 0 0 0 0;
		transform: rotate(0deg);
	}
}

.rooms-count {
	margin-bottom: 1em;
}

.players-count {
	text-align: right;
	font-size: 1.5em;
	line-height: 2.5em;
}

.room-name {
	font-size: 1.5em;
}

.rooms-list button {
	display: inline-block;
	padding: 1.4em 1.3em;
}

/* Wait page
========================================================================== */

.wait .content {
	width: 100%;
	max-width: 100%;
}

	.wait .chat {
		max-width: 450px;
		width: 25%;
		text-align: center;
	}

		.wait .messages {
			min-height: 300px;
		}

	.wait-wrapper {
		width: 75%;
		max-width: 75em;
	}

	.players-total {
		font-size: 1.5em;
		margin-bottom: 1.5em;
	}

	.players-list {
		text-align: left;
		padding-left: 4em;
	}

	.players-list li {
		margin-bottom: .5em;
	}

	.players-list .player-username {
		font-size: 1.5em;
	}

	.players-list img {
		width: 100px;
		padding: .2em;
		display: inline-block;
		vertical-align: middle;
	}

	.player-ranking-wrapper {
		display: inline-block;
		vertical-align: middle;
		padding-left: 1em;
	}

	.players-list button {
		padding: .4em 1.3em;
	}

	button.ready {
		background-color: #525174;
		color: #fff;
	}

	.players-list .ready-status {
		width: auto;
		margin-left: .3em;
		margin-bottom: 1em;
		font-size: 1.2em;
		color: #525174;
		vertical-align: top;
	}

/* Game
========================================================================== */

.content.game {
	width: 100%;
	height: 100%;
	padding: 0;
}

.boat-selected {
    background-color: #666;
}


.placed {
	background-color: lightgrey;
}

.game .switching-content {
	height: 100%;
}

.game .content {
	max-width: 100%;
}

.game-info,
.switching-aside,
.grids-wrapper {
	display: inline-block;
	vertical-align: top;
}

.game-info {
	width: 25%;
	max-width: 350px;
	height: 100%;
}

.grids-wrapper {
	width: 55%;
	height: 100%;
	padding: .5em;
}

.game .player-info {
	margin: 0;
	height: 25%;
	background-color: #e1e1e1;
	position: relative;
}

	.game .player-info p {
		display: table;
		width: 100%;
	}

	.game .player-info a {
		display: table-cell;
		text-align: center;
	}

.game .socials,
.game .options {
	width: auto;
}

.game .chat {
	width: 100%;
	height: 40%;
	position: relative;
}

	.game .chat-header {
		height: 10%;
	}

	.game .chat-header li {
		line-height: normal;
		height: auto;
	}

	.game .messages {
		height: 65%;
	}

	.game .send-container {
		height: 25%;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		padding: .5em;
	}

		.game .send-container input {
			margin-bottom: 1em;
			height: 2em;
		}

		.game .send-container button {
			padding: 0;
		}

.boats-container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.boat-wrapper {
	margin-bottom: 2em;
}

.boat-name {
	font-weight: 700;
	font-size: 1.1em;
}

.boat-wrapper img {
	margin: .5em
}

/* Player info */

.player-info-toggle{
	display: none;
}

.player-info {
	height: 25%;
	padding: 1em .5em;
}

	.player-info a {
		font-size: 2em;
	}

	.socials,
	.options {
		display: table;
	}

	.player {
		margin: .5em 0;
		word-wrap: break-word;
	}

		.player span {
			display: block;
		}

		.player-username {
			font-size: 1.2em;
			word-wrap: break-word;
		}

		.player-points {
			font-size: 1.2em;
			font-style: italic;
		}

	.close-player-info {
		display: none;
		position: absolute;
		top: 2%;
		right: 2%;
		margin: 0;
		padding: 0;
		border: none;
		background-color: transparent;
	}

.aside-toggle,
.aside-toggle .close {
	display: none;
}

.game .player-info-wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Ranking */

.ranking-toggle {
	display: none;
	position: absolute;
}

.close-ranking {
	display: none;
	position: absolute;
	top: 2%;
	right: 2%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.game-ranking {
	word-wrap: break-word;
	height: 35%;
	padding: 1em .5em;
	text-align: center;
	overflow-y: scroll;
}

	.game-ranking ul {
		min-height: 85%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		    flex-direction: column;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

		.game-ranking li:nth-child(odd) {
			background-color: lightgrey;
		}

			.game-ranking p {
				display: inline-block;
				vertical-align: middle;
				font-size: 1.2em;
			}

			.rank-position,
			.rank-points {
				width: 20%;
			}

			.rank-username {
				width: 60%;
			}

.modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 80%;
	height: 80%;
	z-index: 10;
	box-shadow: 2px 2px 5px 0 #656565;
}

.modal.opened {
	display: block;
}

	.modal .closer {
		position: absolute;
		top: .4em;
		right: .5em;
	}

	.modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

		.modal-content h2 {
			font-size: 2em;
		}

		.modal-content p {
			font-size: 1.2em;
		}

		.modal-content .socials {
			display: table;
			width: 100%;
			font-size: 5em;
		}

			.modal-content .socials a {
				display: table-cell;
				padding: .2em;
			}

		.modal-content button:last-child {
			margin-top: 4em;
		}

.main-canvas-wrapper {
	height: 100%;
	text-align: center;
}

.timer {
	height: 4%;
	font-size: 1.5em;
}

.fire-canvas {
	height: 53%;
	width: 100%;
	text-align: center;
}

.visual-canvas {
	width: 100%;
	height: 43%;
	padding-top: .5em;
}

	.player-canvas-wrapper,
	.visual-canvas section {
		display: inline-block;
		vertical-align: middle;
	}

	.player-canvas-wrapper {
		height: 100%;
		width: 100%;
	}

/* Main grids
========================================================================== */

.switching-aside,
.players-grids,
.grids-wrapper {
	display: inline-block;
	vertical-align: top;
	height: inherit;
}

/* Players grids sidebar
========================================================================== */

.players-grids {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-align: center;
	    align-items: center;
	overflow-y: scroll;
}

	.players-grids > div {
		width: 90%;
		margin: .5em auto;
		text-align: center;
	}

/* Overlays
========================================================================== */

.rankings-overlay,
.stats-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 20;
	text-align: center;
}

	.close-rankings,
	.close-stats {
		position: absolute;
		top: .6em;
		right: .6em;
	}

	.rankings-overlay h2,
	.stats-overlay h2 {
		margin: 0;
		padding: 1em 0;
		color: #fff;
		font-size: 1.4em;
		background-image: linear-gradient(0deg, #5dd39e, #bce784);
	}

	.rankings-tabs li {
		display: inline-block;
		background-color: #348aa7;
		font-size: 1.5em;
		height: 2em;
		line-height: 2em;
		color: #fff;
		transition: background-color .5s;
	}

	.rankings-tabs li:hover {
		background-color: #513b56;
		transition: background-color .5s;
	}

	.rankings-tabs li.active {
		background-color: #513b56;
	}

.rankings-overlay.opened,
.stats-overlay.opened {
	display: block;
}

/* Rankings overlay
========================================================================== */

.rankings-tabs li {
	width: 50%;
}

.ranking table {
	width: 100%;
	font-size: 1.2em;
	max-width: 75em;
	margin: auto;
}

	.ranking tr:nth-child(odd) {
		background-color: lightgrey;
	}

	.ranking td {
		word-wrap: break-word;
	}

/* Footer
========================================================================== */

footer {
	background-color: #e1e1e1;
	text-align: center;
	line-height: 2em;
}

	footer p {
		display: inline-block;
		margin: 0 1em;
	}

/* Responsive
========================================================================== */

@media screen and (min-width: 87.5em),
screen and (max-height: 47.90em) { /* > 1400px OR < 768px height */
	.game .content {
		text-align: left;
	}
}

@media screen and (max-width: 71.8em) {/* < 1150px */
	.message-time {
		width: 50%;
		text-align: right;
		padding-right: .5em;
	}

	.message-from {
		width: 50%;
		text-align: left;
		padding-left: .5em;
	}

	.message-content {
   		width: 100%;
   		padding: 0 .5em;
   	}
}

@media screen and (max-width: 59.95em),
screen and (max-height: 47.90em) { /* < 960px width OR < 768px height */
	.switching-aside {
		display: none;
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.switching-aside.opened,
	.close-aside {
		display: block;
	}

	.grids-wrapper {
		padding: 4em .5em .5em .5em;
	}
}

@media screen and (max-width: 59.95em) { /* < 960px */
	header {
		height: 150px;
	}

		header img {
			width: 200px;
		}

	.switching-content {
		height: 100%;
	}

	.content {
		height: calc(100% - 150px);
		position: static;
	}

	.switching-content,
	.content.game {
		width: 100%;
	}

		.game-info {
			width: 35%;
		}

		.grids-wrapper {
			width: 65%;
		}

	.wait .content,
	.wait-wrapper {
		width: 100%;
	}

	.wait .chat {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		margin: 0;
		max-width: 100%;
	}

	.wait .chat-toggle {
		display: inline-block;
	}

	.wait .messages {
		max-height: 80%;
	}

	.chat.opened,
	.wait .close-chat {
		display: block;
	}

	.send-container {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	.aside-toggle {
		display: block;
		position: absolute;
		top: 1.5em;
		right: 1.5em;
		z-index: 10;
	}

	.socials,
	.options {
		width: 190px;
	}
}

@media screen and (max-width: 50em) { /* < 800px */
	.player-info p {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 37.5em) { /* < 600px */

	.toggle {
		display: inline-block;
		margin: 1em;
	}

	.players-list div {
		width: 100%;
		margin-bottom: .5em;
	}

		.room-info p,
		.players-list p {
		    display: block;
		    width: 100%;
		    padding: 0 .5em;
		    text-align: center;
	   }

   .players-list .player-username {
   		text-align: center;
   }

   .player-info {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background: rgba(255, 255, 255, 0.9);
	}

		.close-player-info {
			display: block;
		}

		.player-info-wrapper {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

			.player-info p {
				display: table;
				margin: 2em 0;
				width: 100%;
				max-width: 100%;
			}

				.player {
					margin: auto;
				}

				.player-info a {
					display: table-cell;
					margin: 0;
				}

	.player-info.opened {
		display: block;
	}

	.players-list {
		text-align: center;
		padding-left: 0;
	}
}

@media screen and (max-width: 40.625em),
screen and (max-height: 47.90em) { /* < 650px width OR < 768px height */
	.game .chat-toggle,
	.game .player-info-toggle,
	.ranking-toggle {
		display: block;
	}

	.game-info,
	.grids-wrapper {
		display: block;
		width: 100%;
		max-width: 25em;
		margin: auto;
		height: auto;
		text-align: center;
	}

	.grids-wrapper {
		padding: 1em;
	}

	.game-info .toggle {
		display: inline-block;
		position: static;
		padding: 1.8em;
		margin: 0;
	}

	.game .chat,
	.game .game-ranking,
	.game .player-info {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		height: 100%;
		width: 100%;
	}

	.game .chat.opened,
	.game .game-ranking.opened,
	.game .player-info.opened,
	.game .close-chat,
	.game .close-ranking,
	.game .close-player-info {
		display: block;
	}

	.game .game-ranking {
		background-color: #bce784; 
	}

	.game .messages {
		max-height: 80%;
	}
}

@media screen and (max-width: 32.5em) { /* < 520px */
	.promotion div {
		display: block;
		margin-bottom: 1.5em;
	}

	input {
		width: 100%;
	}
}

.hidden {
	display: none;
}

/*TOREMOVE for tests*/
#test-canvas-container{
	width: 500px;
	height: 500px;
}